[submodule "src/freetype2"]
	path = src/freetype2
	url = git://git.sv.gnu.org/freetype/freetype2.git
[submodule "src/sdl"]
	path = src/sdl
	url = https://github.com/spurious/SDL-mirror.git
[submodule "src/sdl_ttf"]
	path = src/sdl_ttf
	url = https://github.com/SDL-mirror/SDL_ttf
