[submodule "src/freetype2"]
	path = src/freetype2
	url = git://git.sv.gnu.org/freetype/freetype2.git
[submodule "src/sdl"]
	path = src/sdl
	url = https://github.com/spurious/SDL-mirror.git
[submodule "src/sdl_ttf"]
	path = src/sdl_ttf
	url = https://github.com/SDL-mirror/SDL_ttf
[submodule "src/curl"]
	path = src/curl
	url = https://github.com/curl/curl.git
[submodule "src/jansson"]
	path = src/jansson
	url = https://github.com/akheron/jansson.git
[submodule "src/libpng"]
	path = src/libpng
	url = https://github.com/glennrp/libpng.git
[submodule "src/zlib"]
	path = src/zlib
	url = https://github.com/madler/zlib.git
